.catalogue-page {
    padding: 140px 20px 20px;
    background-color: #111;
    min-height: 100vh;
    color: white;
}

.catalogue-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/* --- GRILLE --- */
.catalogue-grid {
    display: grid;
    /* Créera autant de colonnes que possible de 200px minimum */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

@media (max-width: 500px) {
    .catalogue-page {
        padding: 140px 5px 20px;
    }

    .catalogue-grid {
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        width: 100%;
    }

    .card-link {
        display: block;
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .card img {
        border-radius: 6px;
        width: 100%;
        height: auto;
    }

    .card h3 {
        font-size: 0.8rem;
        margin-top: 5px;
    }
}

/* --- CARTE (Style simple) --- */
.card-link {
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.card-link:hover {
    transform: scale(1.05);
    /* Effet de zoom au survol */
}

.card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.card h3 {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}

/* --- PAGINATION --- */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagination button {
    padding: 10px 20px;
    background-color: #e50914;
    /* Rouge */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.pagination button:disabled {
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.5;
}

.page-number {
    font-size: 1.5rem;
    font-weight: bold;
}

/*Spinner de chargement changement de page*/
/* --- LE LOADER (Chargement) --- */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    /* Prend de la hauteur pour centrer sur l'écran */
    width: 100%;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.1);
    /* Cercle gris transparent */
    border-left-color: #e50914;
    /* La partie qui tourne (Rouge Netflix) */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* Ça tourne à l'infini */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}