.rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    color: #fff;
    font-size: 0.9rem;
}

.star-icon {
    color: #E50914;
}

.rating-score {
    color: #46d369;
}