.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: var(--radius-sm);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all var(--transition-fast) ease-in-out;
    text-decoration: none;
    border: none;
    gap: 10px;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: var(--netflix-red);
    color: var(--text-white);
}

.btn-secondary {
    background-color: rgba(109, 109, 110, 0.7);
    color: var(--text-white);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Style Cercle (Pour les favoris ou icônes seules) */
.btn-circle {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: var(--text-white);
}

.btn-circle:hover {
    background: var(--text-white);
    color: black;
    border-color: var(--text-white);
}