.btn-return {
    position: fixed;
    top: 80px;
    left: var(--spacing-xl);
    z-index: var(--z-header);

    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all var(--transition-normal) ease;
}

.btn-return:hover {
    color: var(--text-white);
    transform: translateX(-5px);
}

/* Version Mobile */
@media (max-width: 768px) {
    .btn-return {
        top: 150px;
        left: 20px;
    }

    .btn-return-text {
        display: none;
        /* On cache le texte sur petit écran */
    }

    .btn-return-icon {
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 5px;
    }
}