.card {
    display: flex;
    flex-direction: column;
    width: 160px;
    flex: 0 0 auto;

    text-decoration: none;
    background-color: transparent;
    transition: transform var(--transition-normal) ease;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.05);
    z-index: 10;
}

.card-image {
    width: 100%;
    height: 240px;

    object-fit: cover;

    border-radius: var(--radius-md);
    box-shadow: var(--shadow-card);
}

.card-title {
    margin-top: var(--spacing-xs);
    font-size: 0.9rem;
    color: var(--text-light);
    font-weight: 500;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

@media (max-width: 768px) {
    .card {
        width: 120px;
    }

    .card-image {
        height: 180px;
    }
}