.hero {
    height: 85vh;
    background-size: cover;
    background-position: center top;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 0;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 60px;
    box-shadow: inset 0 -150px 100px #111;
}

.hero-content {
    max-width: 800px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-title {
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 130px;
}

.hero-infos {
    font-size: 1.1rem;
    color: #ddd;
    font-weight: 500;
    margin: 0;
}

.hero-overview {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #f0f0f0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    max-width: 700px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.btn {
    padding: 12px 30px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-red {
    background-color: #E50914;
    color: white;
    border: none;
}

.btn-grey {
    background-color: rgba(109, 109, 110, 0);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.category-section {
    padding: 20px 40px;
    background-color: #111;
}

.category-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: white;
    border-bottom: 4px solid #E50914;
    padding: 15px;
    text-align: center;
}

.horizontal-scroll {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 20px;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

/* Responsive */
@media (max-width: 500px) {
    .hero-title {
        font-size: 1rem;
        margin-top: 200px;
    }

    .hero-overview {
        font-size: 0.8rem;
    }

    .hero-buttons {
        gap: 15px;
        margin-top: 5px;
        margin-bottom: 200px;
        justify-content: center;
    }

    .btn {
        padding: 8px 20px;
        font-size: 0.85rem;
    }
}