.hero {
    height: 85vh;
    background-size: cover;
    background-position: center top;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 0px;
}

/* Le filtre sombre par-dessus l'image pour lire le texte */
.hero-overlay {
    background: rgba(0, 0, 0, 0.3);
    /* Assombrit légèrement toute l'image */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Dégradé noir en bas pour une transition douce vers les listes */
    box-shadow: inset 0 -150px 100px #111;


}

.hero-content {
    max-width: 800px;
    /* Empêche le texte d'être trop large */
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre les boutons et le texte */
    gap: 20px;
    /* Espace entre les éléments */

}

.hero-title {
    font-size: 2rem;
    /* Très gros titre */
    font-weight: 800;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Ombre portée pour lisibilité */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 130px;
}

/* --- MOBILE RESPONSIVE --- */
@media (max-width: 1440px) {
    .hero-title {
        font-size: 2rem;
        /* Très gros titre */
        font-weight: 800;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        /* Ombre portée pour lisibilité */
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 130px;
    }
}

@media (max-width: 900px) {
    .hero-title {
        font-size: 2rem;
        /* Très gros titre */
        font-weight: 800;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        /* Ombre portée pour lisibilité */
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 130px;
    }

}

@media (max-width: 500px) {
    .hero-title {
        font-size: 1rem;
        /* Très gros titre */
        font-weight: 800;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        /* Ombre portée pour lisibilité */
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 200px;

    }
}

.hero-infos {
    font-size: 1.1rem;
    color: #ddd;
    font-weight: 500;
    margin: 0;
}

.hero-overview {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #f0f0f0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    max-width: 700px;
    /* Limite à 3 ou 4 lignes pour ne pas cacher l'image */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width:500px) {
    .hero-overview {
        font-size: 0.8rem;
        line-height: 1.6;
        color: #f0f0f0;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
        max-width: 700px;
        /* Limite à 3 ou 4 lignes pour ne pas cacher l'image */
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

/* --- LES BOUTONS --- */
.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

@media (max-width:500px) {
    .hero-buttons {
        display: flex;
        gap: 15px;
        margin-top: 5px;
        margin-bottom: 200px;
        justify-content: center;
    }

    .btn {
        padding: 8px 20px;
        font-size: 0.85rem;
    }
}

.btn {
    padding: 12px 30px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    transform: scale(1.05);
    /* Petit effet de zoom au survol */
}

/* Bouton Rouge (Lecture) */
.btn-red {
    background-color: #E50914;
    color: white;
    border: none;
}

/* Bouton Gris (Plus d'infos) */
.btn-grey {
    background-color: rgba(109, 109, 110, 0);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* --- LES LISTES (Scroll Horizontal) --- */
.category-section {
    padding: 20px 40px;
    background-color: #111;
    /* Fond noir */
}

.category-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: white;
    border-bottom: 4px solid #E50914;
    padding: 15px;
    text-align: center;
    /* ← Ajouter cette ligne */
}

.horizontal-scroll {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    /* C'est ça qui active le scroll */
    padding-bottom: 20px;

    /* SUPPRIME OU COMMENTE CES LIGNES : */
    /* scrollbar-width: none; */
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}