.home-desktop {
    align-items: center;
    background-color: var(--backgroundmain-ou-noir-profond);
    display: flex;
    flex-direction: column;
    gap: 113px;
    height: 2029px;
    position: relative;
}

.home-desktop .header {
    align-self: stretch;
    height: 88px;
    position: relative;
    width: 100%;
}

.home-desktop .hero-home-instance {
    align-self: stretch !important;
    top: unset !important;
    width: 100% !important;
}

.home-desktop .div {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    padding: 50px 20px;
    position: relative;
    width: 1320px;
}

.home-desktop .text-wrapper {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: var(--heading-h2-font-family);
    font-size: var(--heading-h2-font-size);
    font-style: var(--heading-h2-font-style);
    font-weight: var(--heading-h2-font-weight);
    justify-content: center;
    letter-spacing: var(--heading-h2-letter-spacing);
    line-height: var(--heading-h2-line-height);
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.home-desktop .frame-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: 100%;
}

.home-desktop .movie-card {
    height: 308px;
    margin-bottom: -8.00px;
    margin-left: -4.00px;
    position: relative;
    width: 208px;
}

.home-desktop .movie-card-2 {
    height: 308px;
    margin-bottom: -8.00px;
    position: relative;
    width: 208px;
}

.home-desktop .movie-card-3 {
    height: 308px;
    margin-bottom: -8.00px;
    margin-right: -44.00px;
    position: relative;
    width: 208px;
}

.home-desktop .movie-card-4 {
    height: 307px;
    margin-bottom: -7.50px;
    position: relative;
    width: 208px;
}